.avail{
    color:#3ea53e;
    position: absolute;
    top: 80%;
    left: 16%;
}

.imgpos{
    margin-left: 25%;
    margin-right: auto;
    margin-top: 5%;
}

.breads{
position: absolute;
top: 1%;
left: 85%;
}

.bcmbs{
    color: black;
}

.bcm{
    position: absolute;
    display: inline-block;
    left:0% ;
}

.datebar{
    position: absolute;
    top: 18%;
    left: 41%;
}

.bname{
    text-align: center;
    position: relative;
}

.button_building{
    width: 230px;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(46, 158, 223, 0.15); */
    border-color: #0892d0;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
}
.button_building_edit{
    width: 230px;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #98FB98;
    font-family: 'Gothic A1', sans-serif;
}
.button_building_edit:hover{
    /* opacity:0.8; */
    transform: scale(0.98);
}

.button_building_disable{
    width: 230px;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: 		#A0A0A0;
    font-family: 'Gothic A1', sans-serif;
}
.button_building_disable:hover{
    
      transform: scale(0.98);
      cursor: not-allowed;
}

.button_building:hover{
    
      transform: scale(0.98);
}

.buttons_container{
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
    position: center;
    padding-left: 5% ;
    padding-right: 5%;
}

.available_tag{
    color: #3ea53e;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    font-weight:600;

}
.disabled_tag{
    
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;

}

.date_picker{
    position: absolute;
    top: 20%;
    /* margin-left: 40%; */
    left:53%;
    
    transform:translate(-50%,-50%);
    justify-content: space-around; 
    display: flex;
    flex-direction:row ;
}

.date_container_tag{
    position: absolute;
    top: 22.25%;
    /* margin-left: 40%; */
    left:45%;
    
    transform:translate(-50%,-50%);
}

.date_header_tag{
    margin-top: 5%;
    font-size: 27px;
    font-family: 'Gothic A1', sans-serif;
    padding-right: 100px;
    color: white;
}
.rddd{
    padding-right: 70px;
   
}


.date_heading{
    
    font-size: 22px;
    color: white;
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.previously_selected
{
    width: 24px;
    height: 24px;
    padding: 4% 4%;
    border: 1px solid #3ea53e;
    

    
    margin: 5px;

   
      background-color: #98FB98;

  }

  .legend_text{
      font-size: 14px;
      font-family: 'Gothic A1', sans-serif;
      /* font-weight: 100;   */
    }

  .box_header_building{
    text-align: center;
    margin-top: 1%;
    font-size: 25px;
    color: #0892d0;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
  }
  .sliding_text{

    font-size: 17px;
  }
  .error_message{
      margin-top: 5%;
      margin-left: 25%;
    font-family: 'Gothic A1', sans-serif;


  }